.ucenter_header{
    display: flex;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    .trigger {
        font-size: 18px;
        line-height: 50px;
        height: 50px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .trigger:hover {
        color: #1890ff;
    }

    .ant-breadcrumb{
        line-height: 50px;
        height: 50px;
    }

    .right_menu{
        flex: 1;
        padding-right: 16px;
        text-align: right;
        height: 50px;
        line-height: 50px;
        .ant-avatar{
            margin-right: 8px;
        }
    }
}

