.ucenter_layout {
  .ant-layout-sider-dark {
    .logo {
      height: 32px;
      //background: rgba(255, 255, 255, 0.2);
      margin: 16px;
      overflow: hidden;
      text-align: center;
      img {
        height: 30px;
      }
    }
  }
}

.site-layout .site-layout-header {
  background: #fff;
  height: 86px;
  border-bottom: 1px solid #d8dce5;
}

.ucenter_content {
  margin: 16px 16px;
  padding: 24px;
  min-height: 280px;
  min-width: 600px;
  background: #fff;
}
